<xml version="1.0" encoding="utf-8"?>
<configuration>

  <entityFramework>
    <defaultConnectionFactory type="Npgsql.NpgsqlConnectionFactory, EntityFramework6.Npgsql" />
    <providers>
      <provider invariantName="Npgsql" type="Npgsql.NpgsqlServices, EntityFramework6.Npgsql">
      </provider>
    </providers>
  </entityFramework>


  <system.data>
        <DbProviderFactories>
            <add name="Npgsql Data Provider"
                  invariant="Npgsql"
                  description="Data Provider for PostgreSQL"
                  type="Npgsql.NpgsqlFactory, Npgsql"
                  support="FF" />
        </DbProviderFactories>
    </system.data>    


  <connectionStrings>
    <add name="DbConnect" connectionString="PORT=5432; HOST=127.0.0.1; TIMEOUT=15; POOLING=True; MINPOOLSIZE=1; MAXPOOLSIZE=20; COMMANDTIMEOUT=20; DATABASE=ejemplo; PASSWORD='saintseiya'; USER ID=stalin  Integrated Security = true" providerName="Npgsql" />
  </connectionStrings>
</configuration>